body {
    font-family: 'Montserrat', sans-serif;
    background: rgba(30, 193, 217, 1);
}

#nav-21,
#nav-21 a,
#nav-21 ion-icon {
    color: black;
    font-size: 1.05em;
    opacity: 90%;
}

#nav-list-21 a {
    color: black;
}

#primary-bg {
    height: 80vh;
    width: 100%;
    /*background: url("/images/mdu-home.jpg");*/
    background: url("/images/dance-makes-great-kids.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    position: relative;
}

#great-bg {
    height: 90vh;
    width: 100%;
    background: url("/images/dance-makes-great-kids.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    position: relative;
}

.color-filter-pink {
    position: absolute;
    background: #d94da6;
    opacity: 40%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.color-filter-green {
    position: absolute;
    background: #10c45c;
    opacity: 60%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.color-filter-blue {
    position: absolute;
    background: rgba(48, 122, 213, 1);
    opacity: 60%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#primary-txt {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 40%;
    /*transform: translate(-50%, -50%);*/
    font-size: 4.25em;
    text-align: center;
    color: white;
    text-transform: lowercase;
}

#primary-txt-mobile {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
    text-align: center;
    color: white;
    text-transform: lowercase;
}

#great-txt {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 60%;
    transform: translateX(-50%);
    font-size: 4.25em;
    text-align: center;
    color: white;
    text-transform: lowercase;
}

/*#great-txt-mobile {*/
/*    position: absolute;*/
/*    top: 35%;*/
/*    left: 50%;*/
/*    width: 100%;*/
/*    transform: translate(-50%, -50%);*/
/*    font-size: 3.5em;*/
/*    text-align: center;*/
/*    color: white;*/
/*    text-transform: lowercase;*/
/*}*/

.secondary-txt {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.btn-family {
    color: white;
    border-radius: 30px;
    transition: background 0.4s ease;
    padding: 10px 20px;
}

.txt-green { color: #10c45c; }
.txt-blue { color: #307ad5; }
.txt-pink { color: #d94da6; }

.btn-turq { background: rgba(30, 193, 217, 1); }
.btn-yellow, .bg-yellow { background: rgba(234, 184, 48, 1); }
.btn-blue { background: rgba(48, 122, 213, 1); }
.btn-green { background: rgba(16, 196, 92, 1); }
.btn-pink { background: rgba(217, 77, 166, 1); }

.btn-turq:hover { background: rgba(30, 193, 217, 0.7); color: white; }
.btn-yellow:hover { background: rgba(234, 184, 48, 0.7); color: white; }
.btn-blue:hover { background: rgba(48, 122, 213, 0.7); color: white; }
.btn-green:hover { background: rgba(16, 196, 92, 0.7); color: white; }
.btn-pink:hover { background: rgba(217, 77, 166, 0.7); color: white; }

.primary-btn-pos {
    position: absolute;
    bottom: 35%;
    left: 19%;
    /*transform: translate(-50%, -50%);*/
}

#button-tablet {
    position: absolute;
    bottom: 35%;
    left: 18%;
}

#button-mobile {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.secondary-txt-pos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 1.25em;
}

.tertiary-txt-pos {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*width: 100%;*/
    font-size: 1.25em;
}

#vision {
    transform: translateY(-70px);
}

#next-steps {
    transform: translateY(-150px);
}

.next-step {
    background: white;
    color: black;
    width: 300px;
    height: 200px;
    padding: 40px 20px;
    text-align: center;
    margin: 0 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.25em;
}

#checklist-bg p,
#checklist-bg h2,
#checklist-bg ion-icon
{
    text-shadow: 1px 1px 4px black;
}

#checklist-bg {
    height: 60vh;
    width: 100%;
    background: url("/images/parents-love-mistys.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    position: relative;
}

#mtjgd-bg {
    height: 100vh;
    width: 100%;
    background: url("/images/la-crosse-dance-studios.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    position: relative;
}

#testimonials .col-md {
    background: white;
    border-radius: 15px;
}

#footer ion-icon {
    font-size: 1.5em;
}

.banner-wrap {
    height: 200px;
}

.banner {
    height: 100%;
    background-image: url(/images/Website-color-banner.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------------*/
/* BIO ACCORDION */
/*---------------------------------------*/
/* Style the buttons that are used to open and close the accordion panel */
.bioaccordion {
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background: white;
}

.bioaccordion:hover {
    background: #ebe82e;
}

/* Style the accordion panel. Note: hidden by default */
.biopanel {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    z-index: 1;
    width: 100%;
    background: white;
}

.biopanel-open {
    width: 100%;
    background: white;
}

.box-one { background: #eab830; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }
.box-two { background: #307ad5; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }
.box-three { background: #1ec1d9; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }
.box-four { background: #10c45c; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }
.box-five { background: #d94da6; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }

#fall-select a {
    text-decoration: none;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
}

.partner-div img {
    opacity: 0.4;
    filter: grayscale(100%);
    transform: scale(0.75);
    transition: all 0.8s ease;
}

.partner-div img:hover {
    opacity: 1;
    filter: grayscale(0%);
    transform: scale(1);
}
