/* for phone only */
@media only screen and (max-width: 599px) {

    #achievements-section p {
        font-size: 1.25em !important;
    }

    #achievements-section ion-icon {
        font-size: 2em !important;
    }

    #achievements-section .row div {
        margin: 20px 0;
    }

    #teacher-focus-classes {
        margin-top: 0;
    }

}
